.header-logo img{
    height: 80px;
    width: 80px;
    margin-left: 0%;
}
body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Open Sans';
}
.container{
    display: flex;
    flex-direction: column;
}
.bama-nav{
    display: flex;
    align-items: center;
    background-color: #a7042d;
    padding: 20px 0px 20px 100px;
    justify-content: space-evenly;
    color: white;
}
.header-link{
    display: flex;
    margin: left;
    padding: 0px 100px 0px 0px;
}
.header-link a{
    color: whitesmoke;
    font-size: 20px;
    padding: 15px;
    font-family:'Open Sans';
}
.content-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    font-size: 18px;
    gap: 40px;
    background-color: white;
    flex-basis: 50px;
}
.content-info a{
    color:#a7042d
}
.content-info img{
    height: 200px;
    width: 250px;
}
.bama-body{
   background-color:#a7042d;
   color: whitesmoke;
   font-size: 18px;
}
.bama-content{
    background-color:white;
    color: #a7042d;
    font-size: 18px;
}
.quote{
    background-color:#a7042d;
    color: whitesmoke;
    font-size: 18px;
}
.donate{
    background-color:#a7042d;
    color: whitesmoke;
    font-size: 18px;
}
.footer{
    background-color:#a7042d;
    color: whitesmoke;
    font-size: 18px;
}